<%- include ('../../partials/header.ejs') %>
    <%- include ('../../partials/navbar.ejs') %>
        <br>
        <div class="container">
            
            <div class="card">

                <div class="card-header">
                    <h2>Editar Artigo</h2>
                </div>

                <div class="card-body">
                    <form method="POST" action="/articles/update">
                        <input type="hidden" value="<%= article.id %>" name="id">
                        <input class="form-control" type="text" name="title" placeholder="Defina o titulo do artigo" value="<%= article.title %> "><br>
                        <textarea class="form-control" id="article" placeholder="Escreva o artigo aki" name="body" ></textarea><br>
                        <label>Categotias</label>
                        <select name="category" class="form-control">
                            <% categories.forEach( (category)=> { %>
                                <% if (category.id == article.categoryId) { %>
                                    <option value="<%= category.id %> " selected> <%= category.title %>  </option>
                                <% } else { %>
                                    <option value="<%= category.id %> "> <%= category.title %>  </option>
                                <% } %>      
                            <% }) %>
                        </select>
                        <br>
                        <button class="btn btn-dark">Atualizar</button>
                    </form>
                </div>

            </div>

        </div>

        <div id="content" style="display: none;">
            <%- article.body %> 
        </div>
       

        <%- include ("../../partials/footer.ejs") %>
        <script src="/tinymce/tinymce.min.js"></script>
        <script>

            tinymce.init({
                language:'pt_BR',
                selector: "#article",
                plugins:[
                    'advlist autolink image lists print preview hr searchreplace wordcount fullcreen insertdatetime media save table paste emoticons'
                ],
                init_instance_callback: () => {
                    tinymce.get("article").setContent($('#content').html())
                }
            })

        </script>