<%- include ('../../partials/header.ejs') %>
    <%- include ('../../partials/navbar.ejs') %>,

        <div class="container">
            <hr>
            <h2>Artigos</h2>
            <a class="btn btn-dark" href="/admin/articles/new">Criar Novo Artigo</a>
            <hr>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Slug</th>
                        <th>categoria</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>
                    <% articles.forEach(article=> { %>
                        <tr>
                        <td><%= article.id %> </td>
                        <td><%= article.title %> </td>
                        <td> <%= article.slug %>  </td>
                        <td> <%= article.category.title %> </td>
                        <td>
                            <a class="btn btn-warning" href="/admin/articles/edit/<%= article.id %>">Editar</a>
                            
                            
                            <form method="POST" action="/articles/delete" style="display: inline;" onsubmit="confirmaDelecao(event, this)">
                                <input type="hidden" name="id" value="<%= article.id %> ">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

        <%- include ("../../partials/footer.ejs") %>

            <script>
                function confirmaDelecao(event, form) {
                    event.preventDefault();
                    var decision = confirm("Você realmente dejesa deletar está artigo")
                    if (decision) {
                        form.submit()
                    }
                }
            </script>