<%- include ('../../partials/header.ejs') %>
    <%- include ('../../partials/navbar.ejs') %>
        <br>
        <div class="container">
            
            <div class="card">

                <div class="card-header">
                    <h2>Novo Artigo</h2>
                </div>

                <div class="card-body">
                    <form method="POST" action="/articles/save">
                        <input class="form-control" type="text" name="title" placeholder="Defina o titulo do artigo"><br>
                        <textarea class="form-control" id="article" placeholder="Escreva o artigo aki" name="body" ></textarea><br>
                        <label>Categotias</label>
                        <select name="category" class="form-control">
                            <% categories.forEach( (category)=> { %>
                                <option value="<%= category.id %> "> <%= category.title %>  </option>
                            <% }) %>
                        </select>
                        <br>
                        <button class="btn btn-dark">Cadastrar</button>
                    </form>
                </div>

            </div>

        </div>

        <%- include ("../../partials/footer.ejs") %>
        <script src="/tinymce/tinymce.min.js"></script>
        <script>

            tinymce.init({
                language:'pt_BR',
                selector: "#article",
                plugins:[
                    'advlist autolink image lists print preview hr searchreplace wordcount fullcreen insertdatetime media save table paste emoticons'
                ]
            })

        </script>