<%- include ('../../partials/header.ejs') %> 
<%- include ('../../partials/homenavbar.ejs') %> 
<body>
    <div class="container">
        <hr>
        <% result.articles.rows.forEach(article=> { %>
            <div class="card">

                <div class="card-header">
                    <h2><%= article.title %> </h2>
                </div>
    
                <div class="card-body">
                    <a href="/<%= article.slug %> " class="btn btn-dark" >Ler Artigos</a>
                </div>

            </div>
            <br>
        <% }) %>

        <div class="row">
            <div class="col col-12">
                <% if (result.page > 2) { %>
                    <a style="float:left" href="/articles/page/<%= result.page - 1 %> "> <<< Anterior </a>
                <% } else { %>
                    <a style="float:left" href="/"> <<< Anterior </a>

                <% } %> 
                 
             


                <% if (result.next) { %>
                    <a style="float:right" href="/articles/page/<%= result.page + 1 %> ">Proximo >>></a>
                <% } %>
                
            </div>
            <hr>
        </div>
        <hr>

    </div>
</body>

<%- include ("../../partials/footer.ejs") %> 