<%- include ('../../partials/header.ejs') %>
    <%- include ('../../partials/navbar.ejs') %>
        <br>
        <div class="container">
            
            <div class="card">

                <div class="card-header">
                    <h2>Ediçaõ de categoria</h2>
                </div>

                <div class="card-body">
                    <form method="POST" action="/categories/update">
                        <input class="form-control" type="text" name="title" placeholder="Defina o titulo da categoria" value="<%= category.title %> ">
                        <input type="hidden" name="id" value="<%= category.id %> ">
                        <button class="btn btn-dark">Atualizar</button>
                    </form>
                </div>

            </div>

        </div>

        <%- include ("../../partials/footer.ejs") %>