<%- include ('../../partials/header.ejs') %>
    <%- include ('../../partials/navbar.ejs') %>,

    <div class="container">
        <hr>
        <h2>Categorias</h2>
        <a class="btn btn-dark" href="/admin/categories/new">Criar Nova Categoria</a>
        <hr>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <% categories.forEach(category => { %>
                    <tr>
                        <th><%= category.id %> </th>
                        <th><%= category.title %> </th>
                        <th><%= category.slug %> </th>
                        <th>
                            <a class="btn btn-warning" href="/admin/categories/edit/<%= category.id %>">Editar</a>
                            
                            
                            <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="confirmaDelecao(event, this)">
                                <input type="hidden" name="id" value="<%= category.id %> ">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </th>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

<%- include ("../../partials/footer.ejs") %>

<script>
    function confirmaDelecao(event, form){
        event.preventDefault();
       var decision = confirm("Você realmente dejesa deletar está categoria")
       if(decision){
            form.submit()
       }
    }
</script>