<%- include ('../../partials/header.ejs') %>
    <%- include ('../../partials/navbar.ejs') %>
        <br>
        <div class="container">
            
            <div class="card">

                <div class="card-header">
                    <h2>Cadastro de categoria</h2>
                </div>

                <div class="card-body">
                    <form method="POST" action="/categories/save">
                        <input class="form-control" type="text" name="title" placeholder="Defina o titulo da categoria">
                        <br>
                        <button class="btn btn-dark">Cadastrar</button>
                    </form>
                </div>

            </div>

        </div>

        <%- include ("../../partials/footer.ejs") %>