<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
    GuiaPress
    </a>
    
    <ul class="navbar-nav mr-auto">
        <li class="navbar-nav mr-auto">
            <a class="nav-link" href="/">Home</a>
        </li>
        <% categories.forEach(category => { %>
            <li class="navbar-nav mr-auto">
                <a class="nav-link" href="/category/<%= category.slug %> "><%= category.title %> </a>
            </li>
            
        <% }) %>
        
    </ul>
</nav>