<%- include ('./partials/header.ejs') %> 
<%- include ('./partials/homenavbar.ejs') %> 
<body>
    <div class="container">
        <div class="card">

            <div class="card-header">
                <h2><%= article.title %> </h2>
            </div>

            <div class="card-body">
               <%- article.body %> 
            </div>
    </div>
</body>

<%- include ("./partials/footer.ejs") %> 