<%- include ('./partials/header.ejs') %> 
<%- include ('./partials/homenavbar.ejs') %> 
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem Vindo</h1>
            <p class="lead">Este é um simples Blog que foi feito com intuito de aprender mais sobre o desenvovimento com NodeJS</p>
            <a class="btn btn-dark btn-lg" href="#" role="button">Leia mais</a>
          </div>
        <hr>
        <% articles.forEach(article=> { %>
            <div class="card">

                <div class="card-header">
                    <h2><%= article.title %> </h2>
                </div>
    
                <div class="card-body">
                    <a href="/<%= article.slug %> " class="btn btn-dark" >Ler Artigos</a>
                </div>

            </div>
            <br>
        <% }) %>

        <div class="row">
            <div class="col col-12">
                <a style="float:right" href="/articles/page/2">Proximo >>></a>
            </div>
            <hr>
        </div>
        <hr>
    </div>
</body>

<%- include ("./partials/footer.ejs") %> 