<%- include ('../../partials/header.ejs') %> 
<%- include ('../../partials/navbar.ejs') %>

    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <h2>Criação de Usuario</h2>
            </div>
            <div class="card-body">
                <form action="/users/create" method="POST">
                    <input class="form-control" name="email" type="email" placeholder="email@exemplo.com">
                    <input class="form-control mt-2" name="password" type="password" placeholder="*******"><br>
                    <button type="submit" class="btn btn-dark btn-block">Criar</button>
                </form>
            </div>
        </div>
    </div>

<%- include ("../../partials/footer.ejs") %> 